<div >
    <h4 class="loading-text" ng-show="subreddit">Showing 100 results for: <span>/r/{{subreddit}}...</span></h4>
    <div ng-repeat="post in posts" class="panel panel-default">
        <div class="panel-body media">
            <span class="badge pull-right">{{post.data.score}}</span>
            <div class="pull-left" ng-if="post.data.thumbnail">
                <img class="thumbnail" ng-src="{{post.data.thumbnail}}">
            </div>
            <div class="">
                <div class="">
                    <a href="{{post.data.url}}">{{post.data.title}}</a>
                    <p class="meta">by {{post.data.author}}</p>
                    <p class="meta-comments">{{post.data.num_comments}} comments</p>
                </div>
            </div>
        </div>
    </div>

</div>