<nav class="navbar navbar-inverse navbar-fixed-top" ng-controller="NavBarController">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">GEL</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right" ng-show="authentication.user">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        <span ng-bind="authentication.user.fullName"></span><b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a ui-sref="#">Information</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="/api/auth/logout">Logout</a></li>
                    </ul>
                </li>
            </ul>

            <ul class="nav navbar-nav navbar-right" ng-hide="authentication.user">
                <li><a ui-sref="signup"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                <li><a ui-sref="login" ><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            </ul>
            <form class="navbar-form navbar-right" role="search" ng-show="authentication.user">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search">
                </div>
                <button type="button" class="btn btn-default" ng-click="fetch()" >Submit</button>
            </form>

        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>